/*===== Google font setup =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");


/*===== Variable css setup =====*/
:root{

/*----- Font-family -----*/
--google-family: 'Open Sans', sans-serif;

/*----- Font size -----*/
--size-13: 13px;
--size-15: 15px;
--size-16: 16px;
--size-18: 18px;
--size-19: 19px;
--size-20: 20px;
--size-25: 25px;
--size-35: 35px;
--size-45: 45px;
--size-65: 65px;
--size-85: 85px;

/*----- Color -----*/
--body-color: #ffffff;
--section-color: #fff4f3;
--button-color: #fd6e0a;
--content-color: #757575;
--title-color-1: #000000;
--title-color-2: #474747;
--title-color-3: #9a9a9a;
--border-color: #9a9a9a;

/*----- Weight -----*/
--weight-1: 400;
--weight-2: 600;
--weight-3: 700;
--weight-4: 800;

}


/*===== General css setup =====*/
html{
	scroll-behavior: smooth;
}

body{
	background: var(--body-color);
	font-family: var(--google-family);
	font-size: var(--size-18);
	color: var(--content-color);
	font-weight: var(--weight-1);
	text-transform: capitalize;
	letter-spacing: 0.5px;	
}

img{
	width: 100%;
	height: auto;
}
ul{
	list-style: none;
  	margin: 0;
  	padding: 0;
}

li{
	margin: 0;
	padding: 0;
}
 
a{
	text-decoration: none;
	transition: 0.4s;
}

h1{
	font-size: var(--size-85);
	color: var(--title-color-1);
	font-weight: var(--weight-2);
	letter-spacing: 0.5px;
}

h2{
	font-size: var(--size-45);
	color: var(--title-color-1);
	font-weight: var(--weight-2);
	letter-spacing: 0.5px;
}

.tag-h2{
	font-size: var(--size-45);
	color: var(--button-color);
	font-weight: var(--weight-2);
	letter-spacing: 0.5px;
}

h3{
	font-size: var(--size-35);
	color: var(--title-color-1);
	font-weight: var(--weight-2);
	letter-spacing: 0.5px;
}

h4{
	font-size: var(--size-25);
	color: var(--title-color-2);
	font-weight: var(--weight-3);
	letter-spacing: 0.5px;
}

h5{
	font-size: var(--size-20);
	color: var(--title-color-1);
	font-weight: var(--weight-2);
	letter-spacing: 0.5px;
}

.tag-h5{
	font-size: var(--size-20);
	color: var(--title-color-2);
	font-weight: var(--weight-2);
	letter-spacing: 0.5px;
}

h6{
	font-size: var(--size-19);
	color: var(--content-color);
	font-weight: var(--weight-2);
	letter-spacing: 0.5px;
}

.buttons{
	color: var(--body-color);
	font-size: var(--size-20);
	font-weight: var(--weight-3);
	letter-spacing: 0.5px;
	background: var(--button-color);
	border: 1px solid var(--button-color);
	border-radius: 5px;
	padding: 20px 35px;
}

.buttons:hover{
	color: var(--title-color-1)!important ;
	border-radius: 5px;
}

.buttons i{
	margin-right: 10px;
}

.border{
	width: 100%;
	height: 1px;
	background: var(--border-color);
}

.scrollTop{ 
  width: 30px; 
  height: 30px; 
  line-height: 30px; 
  position: fixed; 
  bottom: 55px; 
  right: 28px;
  background: var(--body-color); 
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 5px 0px;
  z-index: 999; 
  color: var(--button-color); 
  font-weight: var(--weight-2);
  font-size: var(--size-18); 
  text-align: center; 
  border-radius: 3px; 
  display: none; 
  cursor: pointer;
}


/*===== Theme css start =====*/

/*----- Header section -----*/
#header-section{
	background: var(--section-color);
	background-image: url('../img/others-img/header_bg.png'),url('../img/others-img/developer.png');
	background-repeat: no-repeat;
	background-position: bottom right, left;
}

.navbar{
	padding: 50px 0 !important ;
}

.navbar-nav .nav-link{
	font-size: var(--size-19) !important ;
	color: var(--title-color-1) !important ;
	font-weight: var(--weight-2) !important ;
	margin-left: 35px;
	padding: 10px 15px !important ;
	border-radius: 4px;
}

.navbar-nav .nav-link:hover{
	background: var(--button-color);
	color: var(--body-color) !important ;
}

.navbar-nav .nav-link.active{
	background: var(--button-color);
	color: var(--body-color) !important ;
}

.details-area{
	padding-right: 100px;
}

.details-area p{
	margin-bottom: 50px;
}

/*----- About section -----*/
#about-section{
	padding: 100px 0;
}

#about-section .container{
	background: var(--section-color);
	padding: 100px;
}

.about-details h3{
	margin-bottom: 50px;
}

.about-details p{
	margin-bottom: 30px;
}

/*----- Blogs section -----*/
#blogs-section{
	padding-bottom: 100px;
}

#blogs-section h3{
	text-align: center;
	margin-bottom: 50px;
}

.blog-area{
	width: 100%;
	height: 350px;
	padding: 30px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blog-area img{
	width: 50px;
	height: auto;
	margin-bottom: 50px;
}

.blog-area h5{
	margin-bottom: 20px;
}

.blog-area p{
	font-size: var(--size-15);
}

/*----- Resume section -----*/
#resume-section{
	padding-bottom: 100px;
}

#resume-section h3{
	text-align: center;
	margin-bottom: 50px;
}

.edu-area h5,
.exp-area h5{
	margin-bottom: 50px;
}

.edu h4,
.exp h4,
.edu h5,
.exp h5{
	margin-bottom: 20px;
}

.border{
	margin-bottom: 30px;
}

.resumw-btn{
	margin-top: 100px;
}

/*----- Contact section -----*/
#contact-section .container{
	background: var(--section-color);
	padding: 100px;
}

.contact-details{
	padding-right: 50px;
}

.contact-details h2,
.contact-form h2{
	margin-bottom: 50px;
}

.contact-details p{
	margin-bottom: 30px;
}

.contact-details .social ul li{
	display: inline-block;
	margin-right: 10px;
}

.contact-details .social img{
	width: 30px;
	height: auto;
}

.contact-form input,
.contact-form textarea{
	width: 100%;
	padding: 35px 20px;
	margin-bottom: 20px;
	background: var(--body-color);
	border: none;
	border-radius: 3px;
	font-size: var(--size-13);
	font-weight: var(--weight-1);
	color: var(--title-color-1);
	text-transform: capitalize;
} 

.contact-form input:focus,
.contact-form textarea:focus{
	outline: 2px solid var(--title-color-1)!important ;
}

.contact-form .sub-btn{
	display: inline-block;
	width: 30%;
	padding: 18px 30px;
	border-radius: 5px;
	font-size: var(--size-20);
	font-weight: var(--weight-3);
	text-transform: capitalize;
	color: var(--body-color);
	background: var(--button-color);
}

.contact-form .sub-btn:hover{
	color: var(--title-color-1);
}

/*----- Footer section -----*/
#footer-section{
	padding: 50px 0 100px 0;
	text-align: center;
}

.copright{
	font-size: var(--size-13);
	font-weight: var(--weight-2);
	text-transform: capitalize;
	color: var(--title-color-3);
}

.copright a{
	color: var(--button-color);
}

.copright a:hover{
	color: var(--title-color-3);
}